// SASS style sheet */
// Palette color codes */
// Palette URL: http://paletton.com/#uid=12P0C0kw0w0jyC+oRxVy4oIDfjr */

// Feel free to copy&paste color codes to your application */


// As hex codes */

$color-primary-0: #FFAA00;	// Main Primary color */
$color-primary-1: #FFCB63;
$color-primary-2: #FFBD39;
$color-primary-3: #C58300;
$color-primary-4: #9B6700;

body {
  background-color: $color-primary-1;
  color: $color-primary-4;
  width: 70%;
  margin: auto;
}

h1 {
  color: $color-primary-3;
  text-align: center;
}

nav li{
  display: inline-block;
}
a {
  background-color: $color-primary-2;
  font-size: 1.2em;
}

a:hover {
  background-color: $color-primary-0;
}
