// Palette URL: http://paletton.com/#uid=12P0C0kw0w0jyC+oRxVy4oIDfjr */
// As hex codes */

$color-primary-0: #FFAA00;	// Main Primary color */
$color-primary-1: #ba5034;
$color-primary-2: #3f4005;
$color-primary-3: #fcf8cc;
$color-primary-4: #1a1800;

body {
  background-color: $color-primary-0;
  color: $color-primary-4;
  width: 70%;
  margin: auto;
}

h1 {
  color: $color-primary-3;
  text-align: center;
}

nav li{
  display: inline-block;
}
a {
  color: $color-primary-2;
  font-size: 1.2em;
}

a:hover {
  background-color: $color-primary-1;
  color: $color-primary-3;
}
